.shares {
  .user-name {
    border-color: #b6fff4;
    box-shadow: 1px 1px 1px #888888;
    background-color: white;
    margin-right: 2px;
    padding: 0px 2px;

    &:hover {
      cursor: help;
    }
  }
}
