.for-navigation {
  &.fb-like {
    padding-top: 15px !important;
  }
}

#fb-button-link {
  padding-top: 10px !important;
  padding-bottom: 0px !important;

  img.fb-button {
    height: 30px;
  }
}
