tr
  td = group.name
  td
    =' link_to "edit",
               [:edit, :user, group],
               class: "btn btn-primary btn-sm",
               data: { action: 'edit' }

    =' link_to "delete",
               [:user, group],
               class: "btn btn-danger btn-sm",
               data: { method: :delete,
                       confirm: "are you sure?",
                       action: 'delete' }
